@model ControleVendas.Models.PedidoModel
@using ControleVendas.Models

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="colorWhite">Novo Pedido</h1>

<h4 class="colorWhite">Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label colorWhite"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label colorWhite"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PedidoProdutos" class="control-label colorWhite">Produto</label>
                <select asp-for="PedidoProdutos" class="form-control" asp-items="@(new MultiSelectList(ViewBag.Produtos,"ProdutoModelId", "Nome"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label colorWhite"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteModelId" class="control-label colorWhite">Cliente</label>
                <select asp-for="ClienteModelId" class="form-control" asp-items="ViewBag.ClienteModelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">← Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
