*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body {
    background-color:rgba(12 ,12 ,12, 0.85);
}
:root {
    --color-azul: rgb(0, 148, 200);
    --color-houver: rgb(255, 255, 255);
    --color-instrucao: #ffffffe8;
    --color-blue: rgba(0, 148, 200, 0.80);
}
.colorHeader {
    background-color: var(--color-azul);
}
.headerContainer{
    display:flex;
    flex-direction:column;
}
.justAJ {
    justify-content: space-around;
}

.buttonsNav:hover{
    background-color:var(--color-houver);
    transition:background .5s;
    border-radius:5px;
}
.instrucoesContainer{
    margin-top: 20px;
    background-color:var(--color-instrucao);
    border-radius:15px;
    padding:20px;
    width:50%;
    display:inline-block;
    text-align:center;
    font-weight:500;
}
.instrucoesFoto{
    display:inline-block;
}
.flexContainer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.colorBlue{
    color:var(--color-blue);
}
.numbCor:first-letter {
    color: red;
    font-weight:bold;
}
.colorRed {
    color: red;
    font-weight: bold;
    background-color: var(--color-instrucao);
    border-radius: 15px;
}
.privactyDiv{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-weight:bold;
    margin: 25px 0px;
}
.marginPrivacyP{
    margin: 20px 0;
}
.fotoIlustrativa{
    background-repeat:no-repeat;
    background-size:contain;
    width:21rem;
}
.centerH1{
    display:flex;
    justify-content:center;
    align-items:center;
}
.colorWhite{
    color:white;
}