@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center centerH1">
    <h1 class="display-4 colorRed">Controle de Estoque</h1>
</div>
<div class="flexContainer">
    <div class="instrucoesContainer">
        <h1 class="colorBlue">Instruções</h1>
        <p>Esse site tem a finalidade de servir como um Controlado de Estoque.</p>
        <p>Siga as instruções a baixo para Utilizar</p>
        <p class="numbCor">1 - Clique em Cliente e o após isso clique em Create para Adicionar um Novo Cliente</p>
        <p class="numbCor">2 - Clique em Produto para poder Visualizar e Registrar os Produtos Disponiveis</p>
    </div>
    <div class="instrucoesFoto">
        <img src="~/assets/renansvg.svg" alt="Foto ilustrativa" class="fotoIlustrativa" />
    </div>
</div>
