@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center centerH1">
    <h1 class="display-4 colorRed">Controle de Estoque</h1>
</div>
<div class="flexContainer">
    <div class="instrucoesContainer">
        <h1 class="colorBlue">Instruções</h1>
        <p>Esse site tem a finalidade de servir como um Controlado de Estoque.</p>
        <p>Siga as instruções a baixo para Utilizar</p>
        <p class="numbCor">1 - Clique em Cliente e o após isso clique em cadastrar para adicionar um novo cliente</p>
        <p class="numbCor">2 - Clique em Produtos para visualizar e registrar os produtos disponiveis</p>
        <p class="numbCor">3 - Clique em Pedidos para visualizar e realizar novos pedidos</p>
    </div>
    <div class="instrucoesFoto">
        <img src="~/assets/renansvg.svg" alt="Foto ilustrativa" class="fotoIlustrativa" />
    </div>
</div>
