@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="colorWhite">@ViewData["Title"]</h1>

<p class="marginPrivacyP colorWhite">Esses Site foi Construido com o Intuito de Realizar um Trabalho Avaliativo</p>
<h3 class="colorWhite">Programadores:</h3>
<div class="colorWhite">
    <div class="privactyDiv">
        <p>Lucas</p>
        <p>Renan</p>
        <p>Thales</p>
    </div>
    <div class="privactyDiv">
        <p>Foto Lucas</p>
        <p>Foto Renan</p>
        <p>Foto Thales</p>
    </div>
</div>
